@import './variables.scss';
@import '../../node_modules/bootstrap-4-grid/scss/grid.scss';

.footer {
    position: relative;
}

.footer_box {
    position: relative;
    z-index: 3;
    display: flex;
    background-color: #fff;
    padding-top: 59px;
    padding-bottom: 87px;
}

.footer::before, .footer::after {
    content: '';
    background-repeat: no-repeat;
    width: 415px;
    height: 100%;
    position: absolute;
    top: 0px;
}

.footer::before {
    background-image: url(../img/footer_img_red.png);
    left: 0px;
}

.footer::after {
    background-image: url(../img/footer_img_yellow.png);
    right: 0px;
}

.footer_column_name {
    color: $red;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer_list {
    margin-top: 33px;
}

.footer_list_item {
    margin-top: 8px;
}

.footer_list_link {
    text-transform: uppercase;
    color: $gray;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer_list_link:hover {
    color: $yellow;
}

.footer_list_link--hover_blue:hover {
    color: #017edf;
}



@media #{$small} {

    .footer::before {
        display: none;
    }
    
    .footer::after {
        display: none;
    }

    .footer_mardgin:not(:first-child) {
        margin-top: 20px;
    }

    .footer_column_name {
        text-align: center;
    }

    .footer_list {
        text-align: center;
    }

}