@import './variables.scss';
@import '../../node_modules/bootstrap-4-grid/scss/grid.scss';

.tile {
    padding-top: 70px;
    padding-bottom: 67px;
}

.title_img {
    height: 129px;
    width: 100%;
    border: 2px solid rgba($color: $red, $alpha: 0.1);
    background-repeat: no-repeat;
    background-color: rgb(244, 244, 244);
    background-position: center;
}

.title_img:hover {
    border: 2px solid $red;
}

@media #{$tablet} {

    .title_margin:not(:first-child) {
        margin-top: 10px;
    }

}