@import './variables.scss';
@import '../../node_modules/bootstrap-4-grid/scss/grid.scss';

.wrapper {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: $red;
}

.select {
    position: relative;
}

.select .fa-angle-down {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 0px 0px 0px 0px;
}

.language_selection {
    border: none;
    font-size: 14px;
    font-weight: 400;
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем дефолнтные стрелочки */
    background-color: transparent;
    color: #fff;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 20px;
    line-height: 2;
    outline: none;
    position: relative;
    z-index: 3;
}

.language_selection option{
    background-color: $red;
    border: none;
}

.contact {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.top_wrapper_link {
    display: flex;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    padding: 0px 25px;
}

.fa-users {
    margin-right: 9px;
}

.profile_selection {
    border: none;
    font-size: 14px;
    font-weight: 400;
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем дефолнтные стрелочки */
    background-color: transparent;
    color: #fff;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 20px;
    line-height: 2;
    outline: none;
    letter-spacing: 1px;
    position: relative;
    z-index: 3;
}

.profile_selection option {
    background-color: $red;
    border: none;
}
